<div class="container py-4">
  <h2 class="page-title">⚽ Teams</h2>

  <div class="football-card mb-4">
    <div class="football-header">Create Team</div>

    <div class="card-body">
      <div class="row g-3">
        <div class="col-md-5">
          <input class="form-control" [(ngModel)]="newTeam.name" placeholder="Team name" />
        </div>

        <div class="col-md-5">
          <input class="form-control" [(ngModel)]="newTeam.city" placeholder="City" />
        </div>

        <div class="col-md-2">
          <button class="btn btn-success w-100 football-btn" (click)="create()">Create</button>
        </div>
      </div>
    </div>
  </div>

  <div class="football-card">
    <table class="table table-hover football-table mb-0">
      <thead>
        <tr>
          <th>Club</th>
          <th>City</th>
          <th width="150">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let team of teams">
          <td>
            <strong>{{ team.name }}</strong>
          </td>

          <td>{{ team.city }}</td>

          <td>
            <button class="btn btn-outline-danger btn-sm" (click)="delete(team.id!)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
